@import "custom";
@import "bootstrap-src/scss/bootstrap";
@import "bootstrap-callout";

body{
    background-color: #eee;
}

.navbar.navlogo{
    padding: 0;
}

.navbar.navlogo .navbar-brand{
    padding: 0;
}

.navbar-toggler{
    margin-right: 1rem;
}

@media screen and (max-width: 992px){
    .navbar-nav .nav-link{
        margin-left: 1rem;
    }
}

.footer {
    padding: 1rem 0;
    margin-top: 2rem;
    font-size: 85%;
    text-align: left;
}

.footer.text-light a{
    color: $light !important;
    text-decoration: underline;
}

.jumbotron {
    position: relative;
    overflow: hidden;
    min-height: 250px;
    margin-bottom: 0;
}

.jumbotron h2{
    font-size: 3rem;
}

.jumbotron .container {
    position: relative;
    z-index: 2;
    background: rgba(0,0,0,0.5);
    padding: 2rem;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px;
}

.jumbotron a{
}

.jumbotron-background img {
    object-fit: cover;
    font-family: 'object-fit: cover;';
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

main.container{
    margin-top: 2rem;
}

.show-case-detail .description p{
    margin-bottom: 0.5rem;
}

.show-case-detail p{
    margin-bottom: 0;
}

.show-case{
	max-width: 1024px;
	background-color: #fff;
	border-radius: 4px;
}

.card-body.legend {
	padding: 0.5rem;
	font-size: 0.9em;
}

@import "custom_post";