{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock %}

{% block precontent %}
<div class="jumbotron jumbotron-fluid bg-dark">
  
  <div class="jumbotron-background">
    {% if page.image %}
    {% image page.image original as jumbo_image %}
    <img src="{{jumbo_image.url}}">
    {% endif %}
  </div>
  {% if page.jumbotron %}
  <div class="container text-white">
    {{page.jumbotron|safe}}
  </div>
  {% endif %}
</div>
{% endblock %}

{% block content %}

{{ page.body|richtext }}

<div class="row justify-content-center">
{% for subpage in page.get_reversed_children %}
  <div class="m-2 p-2 show-case">
    <div class="p-3 w-50 float-left">
      {% image subpage.showcase.image original as head_image %}
      <img src="{{ head_image.url }}" alt="{{ head_image.alt }}" class="card-img" />
    </div>
    <div class="p-3">
      <h4><a href="/{{subpage.slug}}">{{subpage.title}}</a></h4>
      {{ subpage.showcase.body|richtext }}<br>
      <a href="{% pageurl subpage %}" class="link-browse">{% trans "Browse..." %}</a>
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}
