{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-showcase-item{% endblock %}

{% block content %}
<h2 class="mb-0"><a href="/{{page.slug}}">{{page.title}}</a></h2>
<div class="font-weight-light mb-2">{{current_number_1}} / {{total}}</div>

<div class="d-flex justify-content-between">
  <div>
    {% if previous %}
    <div class="btn-group mr-2" role="group">
        <a href="/showcase/display-item/{{page.slug}}/{{previous_number}}" class="btn btn-primary">
            <span aria-hidden="true">&laquo;</span>
        </a>
        <a href="/showcase/display-item/{{page.slug}}/{{previous_number}}" class="btn btn-light">
            <span aria-hidden="true">{{previous.denomination}}</span>
        </a>
    </div>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
  <div>
    {% if next %}
    <div class="btn-group mr-2" role="group">
        <a href="/showcase/display-item/{{page.slug}}/{{next_number}}" class="btn btn-light">
            <span aria-hidden="true">{{next.denomination}}</span>
        </a>
        <a href="/showcase/display-item/{{page.slug}}/{{next_number}}" class="btn btn-primary">
            <span aria-hidden="true">&raquo;</span>
        </a>
    </div>
    {% else %}
    &nbsp;
    {% endif %}
  </div>
</div>

<hr>
<div class="row justify-content-md-center clearfix show-case-detail show-case">
    <div class="p-3 show-case">
        {% if data.images.0.thumbnail %}
        <div class="mw-50 float-md-left text-center">
            <div class="p-3">
                <img src="{{data.images.0.thumbnail}}" class="rounded w-100">
                {% if data.images.0.authors %}
                <div class="card-body legend"><em>&copy; {% for author in data.images.0.authors %}
                   {% if author.type == "Auteur principal" %}{% if forloop.counter0 %} ; {% endif %}{{author.person}}{% endif %}
                {% endfor %}</em></div>{% endif %}
            </div>
        </div>
        {% endif %}
        <h3 class="pt-2 mb-3 text-right">{{data.denomination}}</h3>

        <div class="p-3">
            {% if data.public_description %}
            <div class="description">{{data.public_description|linebreaks}}</div>
            {% elif data.description %}
            <div class="description">{{data.description|linebreaks}}</div>
            {% endif %}
            {% if data.object_types|length %}
            <p><em>{% trans "Object type(s):" %}</em> {{data.object_types|join:" ; "}}</p>
            {% endif %}
            {% if data.materials|length %}
            <p><em>{% trans "Material(s):" %}</em> {{data.materials|join:" ; "}}</p>
            {% endif %}
            {% if data.datings|length %}<p><em>{% trans "Period(s):" %}</em>
            {% for dating in data.datings %}{% if forloop.counter0 %} ; {% endif %}{{dating}}{% endfor %}
            </p>{% endif %}
            {% if data.free_id %}<p><small><em>{% trans "ID:" %}</em> {{data.free_id}}</small></p>{% endif %}
        </div>

        <div class="mt-2 bs-callout bs-callout-xl bs-callout-primary">
            {% with data.base_finds.0.context_record as context_record %}
            {% with data.base_finds.0.context_record.site as site %}
            {% with data.base_finds.0.context_record.operation as operation %}
            <h4>{% trans "Archaeological site / Operation" %}</h4>
            {% if site.name %}
            <p>{{site.name}} {% if site.discovery_date %}({{site.discovery_date}}){% endif %}
            <br><small>{{site.towns.0}}</small></p>
            {% else %}
            <p>{{operation.common_name}}
            <br><small>{{context_record.town}}</small></p>
            {% endif %}
            {% if operation.year %}<p><em>{% trans "Year of the survey:" %}</em> {{operation.year}}</p>{% endif %}
            {% if site.shipwreck_name %}<p><em>{% trans "Shipwreck" %} : </em>{{site.shipwreck_name}}
            {% if site.sinking_date %} <em>{% trans "sinking" %}</em> {{site.sinking_date}}{% endif %}</p>
            {% endif %}
            {% if site.periods|length %}
            <p><em>{% trans "Period(s):" %}</em> {{site.periods|join:" ; "}}</p>
            {% endif %}
            {% if site.remains|length %}
            <p><em>{% trans "Remain(s):" %}</em> {{site.remains|join:" ; "}}</p>
            {% endif %}
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}
