{% extends "base.html" %}
{% load i18n static wagtailcore_tags wagtailimages_tags pergamon_showcase %}

{% block body_class %}template-showcase{% endblock %}

{% block content %}
<h3><a href="/{{page.slug}}">{{page.title}}</a></h3>


<div class="row justify-content-md-center">
  <div class="p-2 show-case">
    <div class="p-3 w-50 float-left">
      {% image page.image original as head_image %}
      <img src="{{ head_image.url }}" alt="{{ head_image.alt }}" class="card-img" />
    </div>
    <div class="p-3">
        {{ page.body|richtext }}
    </div>
  </div>
</div>

<hr>

{% if page.data %}
<div class="row justify-content-center">
  {% for item in paginated_data.object_list %}
  <div class="col-md-auto m-1" style="width: 12rem;">
    <div class="card">
      {% if item.images.0.thumbnail %}<img src="{{item.images.0.thumbnail}}" class="card-img-top">{% endif %}
      <div class="card-body">
          {{item.denomination}}
        {% with forloop.counter|showcase_item_number:paginated_data.number as item_number %}
        <a class="stretched-link" href="{% url 'display-item' page.slug item_number %}"></a>
        {% endwith %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% if paginator %}
<hr>
<nav aria-label="{% trans 'Pagination' %}" class="row justify-content-center">
  <ul class="pagination">
    <li class="page-item{% if not paginated_data.has_previous %} disabled{% endif %}">
      <a class="page-link"{% if not paginated_data.has_previous %} tabindex="-1" href="#"{% else %} href="?page={{ paginated_data.previous_page_number }}"{% endif %} aria-label="Next">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% for page_number in paginator.page_range %}
    <li class="page-item{% if paginated_data.number == page_number %} disabled{% endif %}">
      <a class="page-link" href="?page={{page_number}}">{{page_number}}</a>
    </li>
    {% endfor %}
    <li class="page-item{% if not paginated_data.has_next %} disabled{% endif %}">
      <a class="page-link"{% if not paginated_data.has_next %} tabindex="-1" href="#"{% else %} href="?page={{ paginated_data.next_page_number }}"{% endif %} aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}

{% endif %}

{% endblock %}
