{% load static i18n wagtailuserbar wagtailcore_tags wagtailimages_tags %}<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/pergamon.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block header %}
        <header><nav class="navbar navbar-expand-lg navbar-dark bg-primary{% if page.get_logo %} navlogo{% endif %}">
            <a class="navbar-brand" href="/"> 
                {% if page.get_logo %}
                {% image page.get_logo height-50 %}
                {% else %}
                {% trans "No organization name" as no_organization_msg %}
                {{ page.organization|default:no_organization_msg }}
                {% endif%}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">{% trans "Home" %} <span class="sr-only">{% trans "(current)" %}</span></a>
                </li>
                {% for item in menu_items %}
                <li class="nav-item">
                    <a class="nav-link" href="{% pageurl item %}">{{item.title}}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </nav></header>
        {% endblock %}

        {% block precontent %}
        {% endblock %}

        <main class="container">
        {% block content %}
        {% endblock %}
        </main>

        {% block footer %}
        <footer class="footer text-light bg-primary">
            <div class="container">
                {% if page.get_footer %}
                {{ page.get_footer|safe }}
                {% else %}
                {% trans "No footer is defined."%}
                {% endif %}
            </div>
        </footer>
        {% endblock %}

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/ofi.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/pergamon.js' %}"></script>

        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
        {{ tracking_code|safe }}
    </body>
</html>
